@charset "UTF-8";
body {
    font-size: 13px;
    background: #f1f2f3;
}

.clearfix {
    clear: both;
}

.text-right {
    text-align: right;
}

.home-menu ul.pure-menu-list {
    padding-left: 65%;
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu {
    background: #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu-heading {
    padding: 0;
}

.pure-menu-link {
    color: #fff;
    font-size: 16px;
}

.pure-menu-link:hover,
.pure-menu-link:focus {
    background-color: #b40000;
}

.pure-menu-item {
    padding: 10px;
}

.pure-menu-children {
    background-color: #000;
}

article {
    padding: 6em 15px;
}

h1.title {
    color: #1d1e1f;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
}

.scoreDate {
    background-color: transparent;
    border: none;
    cursor: auto;
    z-index: 100;
    height: 20px;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.scoreBox {
    margin: 10px 5px;
    border: 1px solid #a5a6a7;
    background-color: #fff;
    cursor: pointer;
}

.scoreBox h5 {
    font-size: 14px;
    font-weight: bold;
}

h5.Final {
    padding-left: 10px;
    padding-right: 10px;
}

h5.live {
    color: #d00;
}

h5.game {
    color:
}

.score-r p,
.score-h p,
.score-e p {
    margin-top: 1em;
    margin-bottom: 2em;
}

.score-team {
    text-align: center;
    padding: 5px 0px;
}

.score-team small {
    color: #a5a6a7
}

.score-team p {
    margin-top: 0px;
}

.errspan {
    color: red;
}

.btn-date {
    background-color: transparent
}

.btn-date:hover,
.btn-date:focus {
    background: transparent;
    color: #d00;
    box-shadow: none;
}

@media (max-width: 1024px) {
    .score-r h5,
    .score-h h5,
    .score-e h5 {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 5px;
    }
    .score-r p,
    .score-h p,
    .score-e p {
        margin-top: 1em;
        margin-bottom: 0em;
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .home-menu ul.pure-menu-list {
        padding-left: 50%;
    }
}

@media (max-width: 768px) {
    article {
        padding-left: 5px;
        padding-right: 5px;
    }
    .pure-menu-item {
        padding: 8px 4px;
    }
    h5.Final {
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #000;
    }
    .team {
        padding-bottom: 10px;
    }
    .score-r {
        border-top: 1px solid #000;
    }
    .score-r h5,
    .score-h h5,
    .score-e h5 {
        padding-left: 5px;
    }
    .score-team {
        padding-left: 3px;
    }
    .home-team {
        text-align: center;
    }
}

@media (max-width: 767px) {
    article {
        padding-left: 5px;
        padding-right: 5px;
    }
    .pure-menu-item {
        padding: 8px 4px;
    }
    h5.Final {
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #000;
    }
    .team {
        padding-bottom: 10px;
    }
    .score-r {
        border-top: 1px solid #000;
    }
    .score-r h5,
    .score-h h5,
    .score-e h5 {
        margin-top: 1em;
        padding-left: 5px;
    }
    .score-team {
        text-align: center;
        padding-left: 3px;
    }
}

@media (max-width: 640px) {
    .home-menu ul.pure-menu-list {
        padding-left: 40%;
    }
    .score-r p,
    .score-h p,
    .score-e p {
        margin-top: 14px;
    }
}

@media (max-width: 540px) {
    .home-menu ul.pure-menu-list {
        padding-left: 22%;
    }
}

@media (max-width: 440px) {
    .home-menu ul.pure-menu-list {
        padding-left: 0%;
    }
}
@media (max-width: 360px) {
    .scoreDate {
        width: 35%;
    }
}